%header
  .row
    .small-12.columns
      %h1= 'Careerbuilder Women in Technology'

.row.main
  .small-12.large-8.columns
    %section.events
      .row
        .small-12.columns
          %h2= 'Upcoming events'
      .row
        .small-12.columns
          %iframe.events-blob{:src => "https://www.google.com/calendar/embed?showTitle=0&showCalendars=0&mode=AGENDA&height=600&wkst=1&bgcolor=%23FF9D81&src=tquv6a0cs6em7hirv4egbarvio%40group.calendar.google.com&color=%23182C57&src=cdalevqtm90rcd5bj645rqbmdegi2jgf@import.calendar.google.com&color=%23B1365F&ctz=America/New_York", :style => " border-width:0 ", :width => "600", :height => "600", :frameborder => "0", :scrolling => "no"}
          %a.events-blob.addEventLink{href: 'https://www.google.com/calendar/embed?src=tquv6a0cs6em7hirv4egbarvio%40group.calendar.google.com&ctz=America/New_York'}= 'Add an Event'

    %section.forum
      .row
        .small-12.columns
          %h2= 'Forum'
      .row
        .small-12.columns
          .forum-blob= 'Source will most likely be Salesforce. Want this private.'

    %section.lunches
      .row
        .small-7.columns
          %h2= 'CBWIT Lunch Bunches'
        .small-3.columns.join-lunch
          %a= 'Join the next lunch'
      .row
        .small-12.columns
          CBWIT lunch bunches happen the first Tuesday of every month.
          Those in the Atlanta office join random groups and go to lunch together.
      .row.bump
        .small-12.columns
          Below are the lunch groups for the next lunch, happening on July 1, 2014.
      .row.bump
        = render partial: 'lunch_bunch', collection: lunch_bunches

  .small-12.large-4.columns
    %section.twitter-feed
      .row
        .small-12.columns
          %a.twitter-timeline{ href: 'https://twitter.com/hashtag/cbwit', 'data-widget-id' => '479694527922323456' }= '#cbwit Tweets'
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

%footer
  .row
    .small-12.columns
      %h2= 'This is a Hackathon project'
  .row
    .small-12.columns= 'Brought to you by Alex BS and Chelsea Y, June 19, 2014'
