!!!
%html{ lang: 'en' }
  %head
    %title= 'CB Women in Tech'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css', media: 'all'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js'
    = csrf_meta_tags
  %body
    = yield
